// Place all the styles related to the photos controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

$load-more-btn-bg-color:#B8354F;
$load-more-btn-color:#FFFFFF;


.container-fluid{
  font-family: "proxima-nova",sans-serif;
  .header-row{
    min-height: 200px;
    background: asset-url('Background.png') no-repeat bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    .hero-logo-home{
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 0px) and (max-width: $break-small - 1) {
        width:30%;
      }
      @media screen and (min-width: $break-small) and (max-width: $break-medium - 1) {
        width: 15%
      }
      @media screen and (min-width: $break-medium)  {
        height: 125px
      }

    }

    .hero-header-text{
      margin-top: 4.1%;
      width:100%;
      text-align: center;
      color:white;
      font-weight: 600;

      @media screen and (min-width: 0px) and (max-width: $break-small - 1) {
        font-size: 16px;
        padding-right: 3%;
        padding-left: 3%

      }
      @media screen and (min-width: $break-small) {
        font-size: 19px;
        padding-right: 0;
        padding-left: 0;
      }

      @media screen and (min-width: $break-large) {
        font-size: 24px;
      }
      @media screen and (min-width: 1500px) {
        font-size: 28px;
      }

    }

    #search_text{
      height: 40px;
      font-size: 13px;
      margin-top: 1%;
      margin-bottom: 230px;
      border: 1px solid white;
      border-radius: 5px;
      background: asset_url('Icon.png') no-repeat;
      background-position-x: 97.7%;
      background-size: 24px 24px;
      background-position-y: 50%;
      padding-left: 1%;
      padding-right: 1%;
      background-color:white;

      @media screen and (min-width: 0px) and (max-width: $break-small - 1) {
        width: 85%;
      }
      @media screen and (min-width: $break-small) and (max-width: $break-medium - 1) {
        width: 70.5%;
        font-size: 18px;
        height:50px;
      }
      @media screen and (min-width: $break-medium) and (max-width: $break-large - 1) {
        width: 55.4%;
        font-size: 22px;
        height:61px;
      }
      @media screen and (min-width: $break-large) {
        width: 967px;
        font-size:13px;
        height:72px;
      }

    }
  }

  //#MARK GRID Queries

  .grid{
    padding-bottom: 55px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    &.top-margin{
      margin-top: 26px;
    }
    .grid-item {
      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 0px) {
    .grid-item {
      width: 100%;
      padding: 3px;
    }

    .grid-sizer {
      width: 100%;
    }
  }

  @media screen and (min-width: $break-small) {
    .grid-item {
      width: 50%;
      padding: 3px;
    }

    .grid-sizer {
      width: 50%;
    }
  }

  @media screen and (min-width: $break-medium) {
    .grid-item {
      width: 25%;
      padding: 3px;
    }

    .grid-sizer {
      width: 25%;
    }
  }

  @media screen and (min-width: $break-large) {
    .grid-item {
      width: 16.6667%;
      padding: 3px;
    }

    .grid-sizer {
      width: 16.6667%;
    }
  }

  .load-more-row{
    text-align: center;
    padding-bottom: 65px;
    a {
      button {
        &.load-more-btn {
          height: 70px !important;
          width: 300px !important;
          border: 1px solid $load-more-btn-bg-color;
          border-radius: 5px;
          background-color: $load-more-btn-bg-color;
          color: $load-more-btn-color;
          margin-right: auto;
          margin-left: auto;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }

  .search-header-row{
    background-image: asset-url('header-bar.png') ;
    background-repeat: repeat-y;
    height: 60px !important;
    padding-left: 3.8%;

    #search_results_input{
      width: 300px;
      height: 38px;
      border-radius: 5px;
      border: 1px solid white;
      margin-top: 11px;
      margin-left:22px ;
      padding-left:1%;
      background: asset_url('Icon.png') no-repeat;
      background-position-x: 98%;
      background-position-y: 50%;
      background-size: 17px 17px;
      background-color:white;

    }
  }

  .search-response-row{
    padding-left: 3.5%;
    font-size: 13px;
    margin-top: 31px;
    strong{
      font-family: "proxima-nova";
      font-weight: 600;
    }
  }

}

@font-face {
  font-family: 'vag_roundedregular';
  src: asset-url('vag_rounded_black-webfont.woff2') format('woff2'),
  asset-url('vag_rounded_black-webfont.woff') format('woff'),
  asset-url('VAG_Rounded_Black.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}